@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.App {
  background-color: #e4e4e6;
}
.font-title {
  font-family: "Libre Caslon Text", serif;
}
.App header {
  margin: 20px;
}
.App main {
  margin: 20px;
  padding: 20px;
}
.home-padding {
  padding: 95px;
  scroll-margin-top: 80px;
}
.about-padding {
  padding: 20px;
  margin-top: 85px;
  scroll-margin-top: 80px;
}
.skills-padding {
  padding: 20px;
  scroll-margin-top: 80px;
}
.project-padding {
  padding: 20px;
  scroll-margin-top: 75px;
}
.contact-padding {
  padding: 20px;
  scroll-margin-top: 80px;
}
.navhead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 1000; /* Pastikan navbar di atas elemen lain */
  padding: 2px 2px;
  background-color: #ffff; 
  border: 1px solid rgb(161, 161, 159);
  border-radius: 50px;
}
.navhead .nav-item .nav-link {
  color: #838080 !important;
}
.navhead .nav-item .nav-link:hover {
  color: black !important;
  transform: scale(1.05);
}
.mai-name h5 h2 p{
  align-items: center;
}
.my-photo:hover {
  animation: animate 10s linier infinite;
}
.filter-image {
  filter: drop-shadow(12px 12px 12px grey);
  border: 5px solid #ddd;
}
.bg-gif {
  background-image: url(images/bg_gif.gif);
  background-repeat: no-repeat; 
  background-size: cover;
  height: 200px;
  border-radius: 50px 50px 50px 50px;
  display: grid;
  place-items: center;
  margin-left: 100px
}
.my-identity {
  margin-top: 50px;
  margin-bottom: 50px;
}
.my-name {
  margin-left: 20px;
}
.font-style {
  font-family: "Julius Sans One", serif;
  text-align: justify;
}
.my-name p{
  text-align: justify;
}
.skill-col {
  border: 1px solid cornsilk;
  margin: 8px 8px 8px 8px;
  width: 120px;
}
.skill-col:hover {
  background-color: #f5f3f7;
  animation: animate 10s linier infinite;
  box-shadow: 5px 5px 8px cornsilk
}
.card-set {
  display: flex;
}
.project-col {
  margin: 50px 10px 50px 10px;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  background-color: #f5f1f3;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px cornsilk;
}
.project-col:hover {
  transform: scale(1.03) translateZ(0);
}
.button-project {
  color: #161515;
  background-color: #ffff;
  border-color: #BFAFD0;
  padding: 7px;
  font-size: 14px;
}
.button-project:hover {
  color: #161515;
  background-color: #d6d4d8;
  border-color: #BFAFD0;
}
.app-logo a {
  margin-left: 5px;
  size: 60px;
  text-decoration: none;
  color: #0e0d0d;
}
.app-logo {
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #413e3e;
  margin-top: 30px;
}
.app-logo:hover a {
  text-decoration: none;
}
.ig-logo {
  padding: 10px;
  margin: 10px;
  margin-left: 30px;
}
.x-logo {
  padding: 10px;
  margin: 10px;
}
.git-logo {
  padding: 10px;
  margin: 10px;
}
.ig-logo:hover {
  background-color: #d6d4d8;
}
.x-logo:hover {
  background-color: #d6d4d8;
}
.git-logo:hover {
  background-color: #d6d4d8;
}
.go-top {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #BFAFD0;
  border-radius: 3px;
  color: #fff;
  border: 0;
}
.go-top:before {
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  content: '';
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -6px;
}
.go-top:hover {
  background: #BFAFD0;
}
.go-top {
  width: 40px;
  height: 40px;
}
.go-top:before {
  width: 11px;
  height: 11px;
}
.container-fluid {
  padding: 0;       
  margin: 0;        
}
.copyright {
  text-align: center;
  background-color: #fff;
}

@media screen and (max-width: 476px) {
  .home-padding {
    padding: 50px;
  }
  .my-photo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transform: translateY(85px);
  }
  .filter-image {
    border: 5px solid #ddd; 
    transition: transform 0.3s, filter 0.3s; 
  }
  .filter-image:hover {
    transform: scale(1.1); 
  }
  .bg-gif {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }
  .card-set {
    flex-wrap: wrap;
  }
}